.comment {
    background-color: #e5e5e5;
    padding: 10px;
}

.date {
    padding: 3px;
    background-color: #3a86ff;
    display: inline-block;
    font-size: 18px;
    color: white;
    margin-bottom: 20px;
}

.author {
    font-size: 20px;
    color: #3a86ff;
}
